<div class='container'>
    <div class='game'>
        <div class='battlefield soft-bordered'></div>
        <div class='player soft-bordered'>
            <div class='status bordered'>
                <table>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <div class='avatar soft-bordered'><img></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='life bordered'>
                            </div>
                        </td>
                        <td>
                            <div class='hand-count bordered'>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class='hand'></div>
        </div>
    </div>
    <div class='control-panel'>
        <div class='card-magnification soft-bordered'>
            <img>
        </div>
    </div>
</div>