<div class='container'>
    <div class="page-header">
        <h3>Welcome! <small><span>...</span> users online!</small></h3>
    </div>
</div>
<div class='container'>
    <div class="well ">
        <form class='form-inline'>
            <legend>Create a room</legend>
            <input type="text" placeholder="Enter room name…">
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>

<div class='container'>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Room Name</th>
                    <th>Users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Experts</td>
                    <td>2</td>
                    <td><button>join</button></td>
                </tr>
                <tr>
                    <td>Newbies</td>
                    <td>4</td>
                    <td><button>join</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
