<div class='container'>
    <h3>Welcome!</h3>
    <div><span>...</span> users online!</div>
</div>
<div class='container'>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Room Name</th>
                <th>Comments</th>
                <th>Users</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Experts</td>
                <td>a room for experts</td>
                <td>2</td>
                <td><button>join</button></td>
            </tr>
            <tr>
                <td>Newbies</td>
                <td>a room for newbies</td>
                <td>4</td>
                <td><button>join</button></td>
            </tr>
        </tbody>
    </table>
</div>