<div class='container'>
    <div id="lobby-title" class="page-header">
        <h3>Welcome! <small><span>...</span> users online!</small></h3>
    </div>
</div>
<div class='container'>
    <div class="well ">
        <form class='form-inline'>
            <legend>Create a room</legend>
            <input type="text" placeholder="Enter room name…">
            <button class="btn">Submit</button>
        </form>
    </div>
</div>

<div class='container'>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Room Name</th>
                    <th>Users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
