<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand" >PoL</div>
            <ul class="nav">
                <li class="active"><a href="/#lobby">Lobby</a></li>
                <li><a href="/#game">Game</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li><p class="navbar-text">{{ user }}</p></li>
                <li class="divider-vertical"></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>