<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <SocketStream/>
        <title>PoL - The card game simulator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>

    <body>asd
        <div id="toolbar"></div>
        <div id="content"></div>
    </body>
</html>
